body {
    font-family: 'Montserrat', sans-serif;
    padding: 70px 0px 0px 0px;
    margin: 0;
    z-index: 0;
}

.tabs-container {
    position: relative;
    width: 500px;
    margin: 2em auto;
    margin-top: 0;
}

.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.tabs .tabs_item {
    border: 1px solid #ccc;
    line-height: 2.5;
    padding: 0 1em;
    border-bottom: none;
    margin-right: 1px;
    background: #ccc;
    border-radius: 5px 5px 0 0;
    position: relative;
    top: 1px;
    cursor: pointer;
}


.tabs .tabs_item.active_tab {
    background: white;
    z-index: 20;
}

textarea {
    resize: none;
    outline: none;
    width: 100%;
}

.panels {
    border: 1px solid #ccc;
    padding: 1em;
    position: relative;
    z-index: 10;
}

.panels .panels_item {
    position: absolute;
    left: -5000px;
    width: 100%;
}

.panels .panels_item.active_pan {
    position: relative;
    left: 0;
}

.terminal {
    background: black;
    color: white;
}

.output-terminals-container {
    margin-top: 40px;
}


.open-file {
    width: 0;
}
.open-file input {
    width: 0;
}

.btn-analyze {
    width: 100%;
    margin-bottom: 20px;

}
